			body {
			background-color: #d3d3d3
			}
			header{
			background-color:#4569D5
			}
			h1{text-align:center;
			color: #4164E1
			
			}
			p{text-align:center;
			font-size:20px;
			
			}
			
			li{font-size: 20px

			}
			footer{background-color :#021542;
			padding:0px;
			border:0px;
			margin:0px
			}
			